body{
    background-color: rgb(57, 2, 56);
    text-align: center;
    -webkit-text-fill-color: aliceblue;
}

h1{
    font-family:myFont ; 
    font-size: 60px;
}

p{
    margin-left: 200px;
    margin-right: 200px;
}

@font-face {
    font-family: myFont;
    src: url(HarryP-MVZ6w.ttf);
}